@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg-fill: #FFFFFF;
    --color-text-primary: #000000;
    --color-text-muted: #f7f7f7; 
    --color-text-inverted: #FFFFFF;
  }

  .theme-midnight {
    --color-bg-fill: #0A014F;
    --color-text-primary: #CD9FCC;
    --color-text-muted: #E4C2C6; 
    --color-text-inverted: #FFFFFF;
  }
}